
<div id="informacion">
    <button id="octoChrome-psu" class="btn btn-success" disabled>apagar</button> <br>
    <button id="octoChrome-logOut">Log out</button> 
    <p id="octoChrome-hoted">
        <span class="title">Temperatura hotend: </span>
        <span class="temp"></span>
    </p>
    <p id="octoChrome-bed">
        <span class="title">Temperatura hotend: </span>
        <span class="temp"></span>
    </p>

</div>
