
<div class="row mt-2 mb-3">
    <div class="col">
        <form id="register">
            <h2 class="mt-2 mb-3">OctoChrome</h2>
            <input type="text" id="user" placeholder="User" requiered/><br>
            <input type="password" id="password" placeholder="Pass" required><br>
            <input type="text" id="apiKey" placeholder="ApiKey" required/><br>
            <input type="text" id="url" placeholder="Url" required/><br>
            <button id="btnRegister">Conectar</button>
        </form>
    </div>
</div>

