body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
}
#pluginOctoChrome{
    min-width: 350px;

}
#register{
    text-align: center;
}
#register h2{
    color: white;
    font-weight: 500;
    
} 

#register input[type = "text"], #register input[type = "password"]{
    border:0;
    height: 20px;
    background: none;
    display: block;
    margin: 3px auto 0 auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
#register input[type = "text"]:focus, #register input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
#register button{
    border:0;
    background: none;
    display: block;
    margin: 6px auto ;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 3px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
#register button:hover{
    background: #2ecc71;
  }
  